:root {
  // Colors
  --black-secondary: #b3b7bc;
  --black-primary: #01101e;
  --black-ghost: #e6e7e9;
  --brand-primary: #075095;
  --brand-ghost: #e6ecf1;
  --success-primary: #50b946;
  --special-divider: #e1e5eb;

  // Transitions
  --trans-02s: all 0.2s ease;
}
